body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 80vmin;
    height: 80vmin;
    max-width: 700px;
    max-height: 700px;
    margin-bottom: 25px;
}

#promotion-menu {
    position: absolute;
    display:none;
}

.promotion-option {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: grey;
    border: 2px solid grey;
}

.promotion-option img {
    position: absolute;
    overflow: hidden;
}

.promotion-option:hover {
    background-color: rgb(72, 72, 72);
}

.piece {
    font-size: 92px;
    position: absolute;
    overflow: hidden;
}

.square {
    display:flex;
    justify-content: center;
    align-items: end;
    border: 2px solid transparent;
}

.square:has(.selected) {
    border-color: black;
}

.light {
    background-color: #f8e0b0;
}

.dark {
    background-color: #a37043; 
}

.grey {
    background-color: #6b6b6b;
}

#overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 58, 58, 0.6);
}

#overlay button {
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    width:50px;
    margin-right: 25px;
    text-align: center;
    background-color: rgb(135, 64, 64);
    color:white;
    border-radius: 10px;
    justify-content: center;
    display: flex;
}

#overlay button:hover {
    background-color: rgb(105, 50, 50);
    cursor:pointer;
}

.waiting-animation {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.250);
    z-index: 2;
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .message {
    margin-left: 10px;
    font-size: larger;
  }
